---
import Footer from "@components/Footer.astro";
import Grid from "@components/Grid.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

const tempHeroImage =
  "https://images.homhero.com.au/1280x0/3ff76bd1-0614-4e45-947c-2d065ceaff2b/listing/456/6903f797-2be9-d7b5-f022-f8bc5752166d.jpg";
---

<Layout>
  <Header slot="header" />
  <main id="main-content">
    <section class="enter-fade mb-4 hidden w-full">
      <div
        class="h-[380px] max-h-[50vh] w-full rounded-md bg-skin-inverted bg-cover bg-center"
        style=`background-image: url(${tempHeroImage})`
      >
      </div>
    </section>
    <section id="hero">
      <!-- <p id="overline">ShortestPathLab @ Monash University</p> -->
      <div class="md:flex-row flex flex-col items-start justify-between gap-4">
        <div>
          <h1 class="enter">
            The 13th ICAPS summer school for planning and optimisation
          </h1>
          <p class="enter animation-delay-[300ms]" id="tagline">
            We welcome you to the 13th Summer School for Planning and
            Optimisation. This year, we will be hosting this event in San Remo
            Bay, Melbourne.
          </p>
        </div>
        <button
          class="fade min-w-max rounded-md bg-skin-inverted/10 px-4 py-2 text-sm text-skin-base transition-opacity hover:opacity-50"
          >View schedule</button
        >
      </div>
    </section>
    <section id="featured" class="mb-24 mt-24">
      <h1 class="mb-4 text-xl">Featured talks</h1>
      <Grid class="gap-2">
        {
          Array.from({ length: 5 })
            .map((_, i) => ({
              title: [
                "Multi-Agent Path Finding",
                "Planning for Robotics",
                "Optimisation Methods for Real-World Problems",
                "Deep Learning for AI Planning",
                "Game Theory and Mechanism Design for AI",
              ][i % 5],
              description: [
                "In this talk, we will discuss the challenges and opportunities of using AI for multi-agent pathfinding.",
                "This talk will cover the basics of planning for robotics and introduce some of the latest research in the field.",
                "This talk will cover some of the most recent advances in optimisation methods for real-world problems, including AI and machine learning applications.",
                "Deep learning has been a major area of research in AI planning and optimisation in recent years. This talk will cover some of the latest results in this area.",
                "Game theory and mechanism design are increasingly important areas of research in AI planning and optimisation. This talk will cover some of the latest results in this area.",
              ][i % 5],
              image: [
                `https://plus.unsplash.com/premium_photo-1664443577580-dd2674e9d359?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Z3JhZGllbnR8ZW58MHx8MHx8fDA%3D`,
                `https://images.unsplash.com/photo-1635776062360-af423602aff3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3JhZGllbnR8ZW58MHx8MHx8fDA%3D`,
                `https://images.unsplash.com/photo-1628388562727-05f0aa6800e1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDQwfHx8ZW58MHx8fHx8`,
                `https://images.unsplash.com/photo-1644426358808-d5db8b4735a0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8`,
                `https://images.unsplash.com/photo-1613901284938-8e136d09275f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDk1fHx8ZW58MHx8fHx8`,
              ][i % 5],
            }))
            .map(({ title, description, image }) => (
              <div class="mb-4 flex cursor-pointer flex-col gap-2 transition-opacity hover:opacity-50">
                <div
                  class="mb-2 h-64 w-full rounded-md bg-skin-inverted bg-cover bg-center"
                  style={`background-image: url(${image})`}
                />
                <h2 class="pr-4">{title}</h2>
                <p class="pr-4 text-sm"> {description}</p>
              </div>
            ))
        }
      </Grid>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  #hero {
    @apply mt-12 sm:mt-0;
  }
  #hero h1 {
    @apply inline-block text-2xl font-normal sm:text-2xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero #overline {
    @apply max-w-xl text-sm font-normal opacity-70;
  }
  #hero #tagline {
    @apply mb-2 max-w-xl text-sm font-normal;
  }

  /* ===== Featured & Recent Posts Sections ===== */
</style>
