---
import type { CollectionEntry } from "astro:content";

type A = Partial<CollectionEntry<"team">["data"]>;

export interface Props extends A {}

const { image, title, description, affiliation } = Astro.props;
---

<div class="animate-fadeIn min-w-[min(190px,100%)] flex-1">
  <li
    class={`flex-1 flex gap-4 p-4 h-full list-none bg-skin-inverted/5 rounded-lg`}
  >
    <div
      class="rounded-full bg-skin-inverted bg-cover bg-center"
      style={{
        width: "42px",
        height: "42px",
        backgroundImage: `url(${image})`,
      }}
    >
    </div>
    <div class=`flex flex-1 flex-col`>
      <h4 class={`mb-1 inline-block font-normal leading-6`}>{title}</h4>
      <p class="text-sm text-skin-base/80">{description}</p>
      {
        !!affiliation && (
          <div class="mt-6 flex flex-1 flex-wrap items-end gap-2">
            <span class="text-xs font-medium text-skin-base/80">
              Institution
            </span>
            <span class="text-xs text-skin-base/80">{affiliation}</span>
          </div>
        )
      }
    </div>
  </li>
</div>
