---
import { getCollection } from "astro:content";
import { format, parse } from "date-fns";
import ProgramEventCard from "./ProgramEventCard.astro";
import Grid from "./Grid.astro";

const programs = await getCollection("program");
---

<div>
  {
    programs.map(ps => (
      <>
        {ps.data.map(p => (
          <div class="mb-4 sm:flex sm:gap-8">
            <h4 class="mb-2 text-xl sm:sticky sm:top-12 sm:my-2 sm:h-fit">
              {format(parse(p.date, "yyyy-MM-dd", new Date()), "do MMM")}
            </h4>
            <div class="my-1 flex-1">
              {p.events.map(es => (
                <div class="flex gap-2">
                  <code class="mt-2 w-20 flex-shrink-0 font-mono text-sm">
                    {es.time}
                  </code>
                  <div class="flex-1">
                    {!!(es.name || es.description) && (
                      <div class="my-2">
                        <ProgramEventCard
                          name={es.name}
                          description={es.description}
                        />
                      </div>
                    )}
                    <Grid
                      class="my-1 gap-2"
                      width={
                        es.events.length > 1 ? 280 : Number.MAX_SAFE_INTEGER
                      }
                    >
                      {es.events.map(e => (
                        <ProgramEventCard {...e} />
                      ))}
                    </Grid>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))}
      </>
    ))
  }
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("enter");
          entry.target.classList.remove("invisible");
        } else {
          entry.target.classList.remove("enter");
          entry.target.classList.add("invisible");
        }
      });
    });

    const hiddenElements = document.querySelectorAll(".animate-fadeIn");
    hiddenElements.forEach(element => {
      observer.observe(element);
    });
  });
</script>
