---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import { slugifyStr } from "@utils/slugify";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header slot="header" activeNav={slugifyStr(frontmatter.title)} />

  <main id="main-content" class="mt-4 flex-1 sm:mt-0">
    <section
      id="about"
      class="enter-fade-vertical prose mb-28 max-w-full prose-img:border-0"
    >
      <h1 class="text-2xl font-normal sm:text-3xl">
        {frontmatter.title}
      </h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
